* {
    font-family: "Cousine", monospace;
  }
  .navbar {
    height: 5vw;
    background-color: #fbfaf1;
    width: 100vw;
    z-index: 99;
  }

  .navbar-brand {
    font-size: 1.5vw;
    letter-spacing: 0.55em;
    margin-left: 3vw;
    flex-grow: 1;
    flex-basis: 0;
  }

  .nav-item a {
    font-size: 1vw;
    letter-spacing: 0.05em;
  }

  .dropdown-menu {
    background-color: #fbfaf1;
    border-radius: 10px;
  }